trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  pythonVersion: '3.11'
  # Change this: your Docker Hub repo name
  imageRepository: 'viditpawar/azure-devops-python-cicd'
  dockerRegistryServiceConnection: 'dockerhub-connection'
  tag: '$(Build.BuildId)'

stages:
  - stage: BuildAndTest
    displayName: "Build & Test"
    jobs:
      - job: Build
        displayName: "Run tests and lint"
        steps:
          - task: Checkout@1
            displayName: "Checkout code"

          - task: UsePythonVersion@0
            displayName: "Set Python version"
            inputs:
              versionSpec: '$(pythonVersion)'

          - script: |
              python -m pip install --upgrade pip
              pip install -r requirements.txt
            displayName: "Install dependencies"

          - script: |
              pip install pytest flake8
              flake8 .
            displayName: "Run flake8"

          - script: |
              pytest --junitxml=test-results.xml
            displayName: "Run pytest"

          - task: PublishTestResults@2
            displayName: "Publish test results"
            inputs:
              testResultsFiles: 'test-results.xml'
              testResultsFormat: 'JUnit'
              testResultsTitle: 'Python tests'

  - stage: BuildAndPushImage
    displayName: "Build & Push Docker image"
    dependsOn: BuildAndTest
    condition: succeeded()   # only run if tests passed
    jobs:
      - job: DockerBuild
        displayName: "Build and push image"
        steps:
          - task: Checkout@1
            displayName: "Checkout code"

          - task: Docker@2
            displayName: "Build and push to Docker Hub"
            inputs:
              containerRegistry: '$(dockerRegistryServiceConnection)'
              repository: '$(imageRepository)'
              command: 'buildAndPush'
              Dockerfile: '**/Dockerfile'
              tags: |
                $(tag)
                latest
